<!DOCTYPE html>
<!-- Created by Shubham Gakhar, ID- 301274508, June 5, 2023 - Assignment 1 :) -->
<html lang="en">

    <head>
        <title>Portfolio</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="icon" href="johnnyface.ico">
    </head>

    <body>
        <nav>
            <img style="height: 40px; width: 40px;" src="/images/logo.png"> &nbsp;
          <a class="Nav" href="/"><b>Home</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <a target="_blank" class="Nav" href="/projects"><b>Projects</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <a target="_blank" class="Nav" href="/services"><b>Services</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <a target="_blank" class="Nav" href="/aboutme"><b>About Me</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <a target="_blank" class="Nav" href="/contact"><b>Contact</b></a> &nbsp;
          <img style="height: 40px; width: 40px;" src="/images/logo.png">
        </nav>  

        <br> 
        <h1 style="text-align: center;">ABOUT ME</h1>

        <section class="projects_odd">
            <img src="/images/mugshot2.jpeg" width="22%" height="450px" style="float: left; margin-left: 50px; margin-top: 50px;">

            <br> <br> <br> <br> <br> <br> 

            <h3 style="margin-top: -20px;">&nbsp; &nbsp; &nbsp; &nbsp;About SHUBHAM GAKHAR</h3>
            
            <p style="margin-left: 425px;">
                I'm an aspiring software engineer who is presently attending Centennial College to advance my abilities and understanding in the software development industry. I am motivated to develop ground-breaking solutions that have a good effect on people's lives because I have a strong enthusiasm for technology and a keen interest in problem-solving.                
                <br> <br>
                I am a huge fan of software engineering, and I enjoy designing and creating software applications very much. In order to diversify my toolkit and stay current with market trends, I am always investigating new programming languages, frameworks, and technologies. The dynamic and always changing nature of software development piques my interest and inspires me to keep learning and developing.
                <br> <br>
                I now have the skills I need to take on difficult coding difficulties because to Centennial College's robust foundation in computer science and software engineering fundamentals. In addition to technical proficiency, the collaborative atmosphere and practical projects at the institution have assisted me in developing strong communication and teamwork skills, which are crucial for succeeding in the software development profession.
                <br> <br>
                As I make strides towards achieving my goal of becoming a software engineer, I am inspired by the countless opportunities that lay ahead. I'm determined to apply my expertise, enthusiasm, and drive to develop ground-breaking software solutions that may disrupt markets, enhance user experiences, and effect positive change. I'm excited to bring my skills to a creative team and help shape the future of technology.
            </p>

            <br> <br> <br>

        </section>

        <section class="projects_odd">
            
            <h2 style="text-align: center;">Link to Download my Resume</h2>            

            <a href ="/images/Resume.pdf" target="_blank"><h4 style="text-align: center;">RESUME.pdf</h4></a>
        </section>
        
    </body>

    <footer style="text-align: center;"><br><strong>&copy;Copyright of SHUBHAM GAKHAR - 301274508 - COMP 229</strong><br><br></footer>

</html>