<!DOCTYPE html>
<!-- Created by Shubham Gakhar, ID- 301274508, June 5, 2023 - Assignment 1 :) -->
<html lang="en">

    <head>
        <title>Portfolio</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="icon" href="johnnyface.ico">
    </head>

    <body>
        <nav>
          <img style="height: 40px; width: 40px;" src="/images/logo.png"> &nbsp;
          <a class="Nav" href="/"><b>Home</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <a target="_blank" class="Nav" href="/projects"><b>Projects</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <a target="_blank" class="Nav" href="/services"><b>Services</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <a target="_blank" class="Nav" href="/aboutme"><b>About Me</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <a target="_blank" class="Nav" href="/contact"><b>Contact</b></a> &nbsp;
          <img style="height: 40px; width: 40px;" src="/images/logo.png">
        </nav>  

        <hr> <hr> <hr>

        <section class="Intro">  
            <h3 class="tagline">
                Hello World! I am
            </h3>

           <h1 class="name" style="font-size: 100px;">
                SHUBHAM GAKHAR
           </h1>

           <h3 class="tagline">
                and this is my Portfolio
           </h3> 
        </section>       
        
        <section class="profile">
            <img src="/images/Mugshot.jpg" width="20%" height="350px" style="float: left; margin-left: 350px; margin-top: 50px;">

            <br> <br> <br> <br> <br> <br> 

            <h3 style="margin-top: -20px;">&nbsp; &nbsp; &nbsp; &nbsp;About Me</h3>
            
            <p>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;I am a student at Centennial College Progress Campus. <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Enrolled Program: Software Engineering Technician <br>                
            </p>

            <h3>&nbsp; &nbsp; &nbsp; &nbsp;Mission Statement</h3>

            <p>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;"Innovating and Empowering, one line of code at a time"<br>
            </p>

            <h3>&nbsp; &nbsp; &nbsp; &nbsp;Personal Details</h3>

            <p>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Full Name: Shubham Gakhar<br>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Email: 24shubhamgakhar2003@gmail.com<br>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Mobile: (647)785-1524<br>
            </p>

            <br>

        </section>

        <section class="testis">
            <h1 style="text-align: center; font-size: 50px;"><br>Testimonials</h1>

            <div class="testis">

                  <div class="insideTestis">
                      <p style="font-size: large;">
                        <b>Bruce Wayne</b> <br> <br>
                          "The experience of working with Shubham on our e-commerce website was revolutionary. We were pleasantly surprised by his meticulous attention to detail and proficiency in creating user-friendly systems. Our sales soared as a result of Shubham."
                      </p>
                  </div>

                  <div class="insideTestis">
                      <p style="font-size: large;">
                        <b>Alfred</b> <br> <br>
                        "Shubham's technical expertise and creativity made our portfolio website come to life. He produced a fantastic and functional design that properly matched our company concept."
                      </p>
                  </div>

                  <div class="insideTestis">
                    <p style="font-size: large;">
                      <b>Jim Gordon</b> <br> <br>
                        "A smooth user experience for our informational website was made possible by Shubham's proficiency in both front-end and back-end programming. Incorporating interactive features deftly, he impressed both clients and visitors."
                    </p>
                </div>

                <div class="insideTestis">
                  <p style="font-size: large;">
                    <b>Vicky Vale</b> <br> <br>
                    "Shubham's unique blogging platform went above and beyond what we expected. His sophisticated content management tools and modern aesthetic gave our readers a compelling platform."
                  </p>
              </div>

          </div>
        </section>
    </body>

    <footer style="text-align: center;"><br><strong>&copy;Copyright of SHUBHAM GAKHAR - 301274508 - COMP 229</strong><br><br></footer>
</html>