<!DOCTYPE html>
<!-- Created by Shubham Gakhar, ID- 301274508, June 5, 2023 - Assignment 1 :) -->
<html lang="en">

    <head>
        <title>Portfolio</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="icon" href="johnnyface.ico">
    </head>

    <body>
        <nav>
            <img style="height: 40px; width: 40px;" src="/images/logo.png"> &nbsp;
          <a class="Nav" href="/"><b>Home</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <a target="_blank" class="Nav" href="/projects"><b>Projects</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <a target="_blank" class="Nav" href="/services"><b>Services</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <a target="_blank" class="Nav" href="/aboutme"><b>About Me</b></a>
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <a target="_blank" class="Nav" href="/contact"><b>Contact</b></a> &nbsp;
          <img style="height: 40px; width: 40px;" src="/images/logo.png">
        </nav>

        <br> 
        <h1 style="text-align: center;">PROJECTS</h1>
        
        <section class="projects_odd">
            <img src="/images/coffeeshop.jpg" width="18%" height="250px" style="float: left; margin-left: 350px; margin-top: 50px;">

            <br> <br> <br> <br> <br> <br> 

            <h3 style="margin-top: -20px;">&nbsp; &nbsp; &nbsp; &nbsp;Desktop App</h3>
            
            <p>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;I made a working desktop app called CoffeeShop.<br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The app had capabilities to add different types of Coffee and Tea.<br> 
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;It also had a feature to add multiple snacks.<br>              
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The shop owner could also monitor the delivery statuses.<br>                
                 
            </p>

            <br> <br> <br> <br> <br> <br>

        </section>

        <section class="projects_even">
            <img src="/images/properties.jpg" width="30%" height="250px" style="float: left; margin-left: 250px; margin-top: 50px;">

            <br> <br> <br> <br> <br> <br> 

            <h3 style="margin-top: -20px;">&nbsp; &nbsp; &nbsp; &nbsp;Real Estate Portfolio</h3>
            
            <p>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a target="_blank" href="http://studentweb.cencol.ca/sgakhar2/Comp213/Final%20Project/Final_Project.html">Link to the Real Estate Website</a><br>
            </p>

            <h3>&nbsp; &nbsp; &nbsp; &nbsp;Description</h3>

            <p>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;I made a website to showcase the experience of a fictional Real Estate Agent.<br>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The website contained information, testimonials and available properties.<br>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The website also had a sitemap to navigate all parts of the website.<br>
            </p>

            <br> <br> <br>

        </section>

        <section class="projects_odd">
            <img src="/images/bugsmasher.jpg" width="30%" height="250px" style="float: left; margin-left: 250px; margin-top: 50px;">

            <br> <br> <br> <br> <br> <br> 

            <h3 style="margin-top: -20px;">&nbsp; &nbsp; &nbsp; &nbsp;Bug Smasher Game</h3>
            
            <p>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a target="_blank" href="http://studentweb.cencol.ca/sgakhar2/Comp125/A3/assignment3.html">Working Game - Bug Smasher</a> <br>
            </p>

            <h3>&nbsp; &nbsp; &nbsp; &nbsp;Description</h3>

            <p>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;I made a game for one of my assignments.<br>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;It is called bug smasher where every correct click increases your score.<br>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The speed of the bug also increases with increase in score.<br>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;There is a reset score and a reset speed button too.<br>
            </p>

            <br>

        </section>
    </body>

    <footer style="text-align: center;"><br><strong>&copy;Copyright of SHUBHAM GAKHAR - 301274508 - COMP 229</strong><br><br></footer>

</html>