<!DOCTYPE html>
<!-- Created by Shubham Gakhar, ID- 301274508, June 5, 2023 - Assignment 1 :) -->
<html lang="en">

    <head>
        <title>Portfolio</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="icon" href="johnnyface.ico">
    </head>

    <body>
        <nav>
            <img style="height: 40px; width: 40px;" src="/images/logo.png"> &nbsp;
            <a class="Nav" href="/"><b>Home</b></a>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <a target="_blank" class="Nav" href="/projects"><b>Projects</b></a>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <a target="_blank" class="Nav" href="/services"><b>Services</b></a>
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <a target="_blank" class="Nav" href="/aboutme"><b>About Me</b></a>
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <a target="_blank" class="Nav" href="/contact"><b>Contact</b></a> &nbsp;
            <img style="height: 40px; width: 40px;" src="/images/logo.png">
        </nav>

        <br> 
        <h1 style="text-align: center;">SERVICES OFFERED</h1>
        
        <section class="projects_odd">
            <img src="/images/service1.png" width="20%" height="300px" style="float: left; margin-left: 125px; margin-top: 75px;">

            <br> <br> <br> <br> <br> <br> 

            <h3 style="margin-top: -20px;">&nbsp; &nbsp; &nbsp; &nbsp;Making a Blogging Website</h3>
            
            <p style="margin-left: 475px; margin-right: 30px;">
                Our all-inclusive blogging website development service provides complete answers for developing engaging and approachable blogging platforms. To design and construct unique websites that represent our customers' distinctive branding and target audiences, we work directly with them. Our offerings include designing user interfaces that are both responsive and intuitive, managing user registration and profile information, integrating a strong content management system (CMS), integrating social media seamlessly, using search engine optimisation (SEO) strategies, providing analytics and insights, and providing ongoing support throughout the process. With the aid of a professionally designed blogging website, clients may develop a strong online presence, engage readers, and unleash their creativity. Get in touch with us right away to start an amazing blogging journey!
            </p>

            <br> <br> <br> <br> <br> <br>

        </section>

        <section class="projects_even">
            <img src="/images/service2.jpg" width="20%" height="300px" style="float: left; margin-left: 125px; margin-top: 40px;">

            <br> <br> <br> <br> <br> <br> 

            <h3 style="margin-top: -20px;">&nbsp; &nbsp; &nbsp; &nbsp;Making a Portfolio Website</h3>
            
            <p style="margin-left: 475px; margin-right: 30px;">
                With the help of our comprehensive Portfolio Website Development service, people may build compelling online portfolios that highlight their abilities and accomplishments. We create captivating websites by putting an emphasis on responsive interfaces and unique design. Our offerings include search engine optimisation (SEO) strategies, contact forms for queries, project showcase galleries, an interesting "About Me" section, integration of resumes or CVs, testimonials, and recommendations. Make a lasting impression and improve your professional presence with a customised portfolio website that showcases your skills. To open new doors and advance your career, get in touch with us right away.
            </p>

            <br> <br> <br> <br> <br> <br>

        </section>

        <section class="projects_odd">
            <img src="/images/service3.jpg" width="20%" height="300px" style="float: left; margin-left: 125px; margin-top: 50px;">

            <br> <br> <br> <br> <br> <br> 

            <h3 style="margin-top: -20px;">&nbsp; &nbsp; &nbsp; &nbsp;Software Quality Assurance</h3>
            
            <p style="margin-left: 475px; margin-right: 30px;">
                Our Software Quality Assurance service ensures that your software applications meet the highest standards of performance, functionality, and reliability. With our expertise in quality assurance methodologies and industry best practices, we offer a comprehensive range of services to identify and rectify potential issues before they impact your end-users. Our services include test planning and strategy development, test case design and execution, automated testing, regression testing, performance testing, usability testing, and defect tracking and reporting. By partnering with us for your software quality assurance needs, you can enhance user satisfaction, minimize downtime, and ensure the seamless operation of your software applications. Contact us today to ensure the quality and success of your software projects!            </p>

            <br> <br> <br> <br> <br> <br>

        </section>
        
    </body>

    <footer style="text-align: center;"><br><strong>&copy;Copyright of SHUBHAM GAKHAR - 301274508 - COMP 229</strong><br><br></footer>

</html>